.idea

logs
paho*

cobotSimulatorOne/src/main/resources/logback-secret.properties
cobotSimulatorOne/target

affectSimulator/target
affectTracker/target
cobotSimulatorTwo/target
eyeSimulator/target
headSimulatorOne/target
headSimulatorTwo/target
library/target